<div>
  This is home.hbs - the page

  <div>
    Here is the "luckyNumber" tag
    Your lucky number is: {{ luckyNumber }}
  </div>

  <div>
    Here is a partial tag
    {{> mypart }}
  </div>

  <div>
    Here is another partial tag
    {{> mypart2 }}
  </div>
  
</div>