<div>
  This is index.hbs

  <div>
    Here is the ">part" tag
    {{> part }}
  </div>

  <div>
    Here is the "luckyNumber" tag
    Your lucky number is: {{ luckyNumber }}
  </div>

  <div>
    Here is the ">test2" tag
    {{> test2 }}
  </div>
</div>